################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MiniMvvm/bin/Debug
/src/MiniMvvm/.vs/MiniMvvm/v17
/src/MiniMvvm/.vs/MiniMvvm
/src/MiniMvvm/obj/Debug
/src/packages
/tests/bin/Debug
/tests/obj/Debug
/tests/.vscode
/src/MiniMvvm/bin/Release
/src/MiniMvvm/obj/Release
/src/MiniMvvm/BasicMiniMvvm.nuspec
/src/MiniMvvm/BasicMiniMvvm.nuspec.bak
/src/MiniMvvm/MiniMvvm.1.0.0.nupkg
/src/MiniMvvm/MiniMvvm.nuspec
/src/MiniMvvm/MiniMvvm.nuspec.bak
/src/.vs/MiniMvvm/v16/TestStore/0
/tests/MiniMvvmTests/bin/Debug
/tests/MiniMvvmTests/obj/Debug
/tests/MiniMvvmTests/obj/Release
/src/MiniMvvm/BasicMiniMvvm.1.0.1.nupkg
